/* div.cell {
  background: #f8fdf3 !important;
} */

/* code.sourceCode.python {
  background: #f8fdf3 !important;
}

code.sourceCode.r {
  background: #f1f7fd !important;
} */

div.cell-output.cell-output-stdout {
  background: #fdf5f9 !important;
}